In [9]:
import pandas as pd

llama3_1 = pd.read_csv('../../gym/results/llama3_1/llm_response.csv')
gemini1_5 = pd.read_csv('../../gym/results/gemini1_5/llm_response.csv')
gemma2 = pd.read_csv('../../gym/results/gemma2/llm_response.csv')
gpt4o = pd.read_csv('../../gym/results/gpt4o/llm_response.csv')

gemini1_5.drop(columns=['table_body', 'caption', 'references', 'explanation', 'keywords'], inplace=True)
llama3_1.drop(columns=['table_body', 'caption', 'references', 'explanation', 'keywords'], inplace=True)
gpt4o.drop(columns=['table_body', 'caption', 'references', 'explanation', 'keywords'], inplace=True)

llama3_1['model'] = 'llama3_1'
gemini1_5['model'] = 'gemini1_5'
gemma2['model'] = 'gemma2'
gpt4o['model'] = 'gpt4o'

In [10]:
#put all the data together and add a column to identify the model
all_llm = pd.concat([llama3_1, gemini1_5, gemma2, gpt4o])
all_llm

,index,query_id,score,relevant,id,file_id,table_id,model
0,0,1,0.1,False,2302.12156_S5.T1,2302.12156,S5.T1,llama3_1
1,0,2,0.0,False,2302.12156_S5.T1,2302.12156,S5.T1,llama3_1
2,0,3,0.0,False,2302.12156_S5.T1,2302.12156,S5.T1,llama3_1
3,0,4,0.1,False,2302.12156_S5.T1,2302.12156,S5.T1,llama3_1
4,0,5,0.0,False,2302.12156_S5.T1,2302.12156,S5.T1,llama3_1
...,...,...,...,...,...,...,...,...
1742,175,6,0.0,False,2211.15217_A1.T11,2211.15217,A1.T11,gpt4o
1743,175,7,0.0,False,2211.15217_A1.T11,2211.15217,A1.T11,gpt4o
1744,175,8,0.0,False,2211.15217_A1.T11,2211.15217,A1.T11,gpt4o
1745,175,9,0.0,False,2211.15217_A1.T11,2211.15217,A1.T11,gpt4o
1746,175,10,0.0,False,2211.15217_A1.T11,2211.15217,A1.T11,gpt4o

In [11]:

all_llm.to_csv('../../gym/results/llm_response.csv', index=False)